/Assets/Stairgen.cs
/Library
/Temp
/Ressources
/Assets/Plugins
/_ReSharper.waitingForHorus-csharp-vs
/Builds
/Assembly-CSharp-vs.csproj.user
/Assembly-CSharp-vs.csproj
.DS_Store
.unityproj
.csproj
.suo
.sln
.pidb
.userprefs
/Assets/UnityVS.meta
/Assets/UnityVS
UnityVS*