/Assets/Stairgen.cs
/Library
/Temp
/Ressources
/Assets/Plugins
/_ReSharper.waitingForHorus-csharp-vs
/Builds
/Assembly-CSharp-vs.csproj.user
/Assembly-CSharp-vs.csproj
.DS_Store
*.suo
*.pidb
/Assets/UnityVS.meta
/Assets/UnityVS
UnityVS*
*.csproj
*.unityproj
*.userprefs
*.sln
